<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Blog&Post!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/images/logo.jpg') }}" />
    </head>
    <body>
        {#<div class="search-bar">#}
            {#<form method="GET" action="" class="js-sea-search sea-search">#}
                {#<input type="search" name="q" placeholder="Search posts" autocomplete="off" class="search-input">#}
            {#</form>#}
        {#</div>#}
        <header class="header">
            <img class="logo-icon" src="{{ asset('images/logo.jpg') }}">
            <a class="logo" href="/" ><h1 class="logo" >Blog&Post</h1></a>
            <ul class="navi">
                {#<li class="search"><a href="#" class="js-header-search-toggle"><i class="fa fa-search"></i></a></li>#}
                <li><a href="/post">Posts</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

     {#<li><a href="{{ path('author_index') }}">Authors</a></li>#}
                    <li><a href="/profile">Profile</a></li>

                    {% if is_granted('ROLE_ADMIN') %}

                    <li><a href="/admin">Admin</a>
                    {% endif %}
                    <li>
                       |  {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}

                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>

                    </li>
                {% endif %}



            </ul>
        </header>

        <div class="main-content">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <p class="footer-text">  W budowie <span class="heart"><3</span></p>
        </div>

        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
